.header {
  @apply w-full min-h-screen bg-gray-900 text-gray-400;
}

.navbar {
  @apply h-10 w-full flex items-center relative py-10 px-4 xxl:max-w-9xl xxl:mx-auto;
}

.navbar_logo {
  @apply md:mr-7 xxl:absolute xxl:-left-12;
}

.tabNav {
  @apply hidden md:flex h-full items-center;
}

.navbar_nav {
  @apply absolute z-50 right-6 shadow-lg top-12 transform bg-gray-800 text-white px-5 py-4 w-48 lg:hidden;
}

.navbar_subnav {
  @apply ml-auto flex items-center;
}

.subnav_link:link,
.subnav_link:visited {
  @apply -mt-2 mr-7 lg:mr-0 text-pink-800;
  font-family: "helveticaBold";
  font-weight: normal;
  font-style: normal;
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1920 - 320)));
  transition: all 0.3s ease;
}

.subnav_link:hover,
.subnav_link:active {
}

.navbar_link_mobile {
  @apply py-1 block;
}

.navItem {
}

.navItemDesktop {
  @apply mr-7;
}

.navbar_link:link,
.navbar_link:visited {
  font-family: "helveticaBold";
  font-weight: normal;
  font-style: normal;
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
  transition: all 0.3s ease;
}

.navbar_link:hover,
.navbar_link:active {
  @apply text-pink-800;
}

.headerBadge {
  @apply flex items-center text-pink-800 text-base;
  font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.headerHeadlineText {
  font-family: "helveticaBold";
  font-weight: normal;
  font-style: normal;
  margin-top: 8px;
  color: #fff;
  font-size: calc(20px + (100 - 20) * ((100vw - 320px) / (1920 - 320)));
  line-height: 115%;
}

.headerSubHeadline {
  font-family: "helveticaMedium";
  font-weight: normal;
  font-style: normal;
  /* margin-top: 12px;s */
  font-size: calc(14px + (32 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.ctaButton {
  font-family: "helveticaExtraBold";
  font-weight: normal;
  font-style: normal;
}

.heroLogoBig svg {
  width: 65px;
  height: 85px;
}

@media screen and (min-width: 768px) {
  .heroLogoBig svg {
    width: 112px;
    height: 163px;
  }
}

@media screen and (min-width: 1024px) {
  .heroLogoBig svg {
    width: 163px;
    height: 200px;
  }
}
