@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helveticaMedium";
  src: url("assets/fonts/HelveticaNowDisplay-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaBold";
  src: url("assets/fonts/HelveticaNowDisplay-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaExtraBold";
  src: url("assets/fonts/HelveticaNowDisplay-ExtraBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
